* {
    /* border:1px solid green; */
}

nav {
    width: calc(100vw - 20px);
    height: 2.5rem;
    display: flex;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: linear-gradient(black , gray,20deg);
    border-radius: 1rem;

}

nav .navpart {
    display: inline-flex;
    width: 33.33%;
    justify-content: center;
    align-items: center;
}

nav .navpart span {
    font-size: 1.5rem;
}

nav .navpart ul {
    display: flex;
    list-style: none;
}

nav .navpart ul a {
    padding: .25rem;
    margin: auto 16px;
    color:white;
    text-decoration: none;
}

nav .navpart .btn {
    width: 6rem;
    height: 2rem;
    border-radius: .75rem;
    margin: auto .5rem;
    cursor: pointer;
    font-weight: bold;
}

nav .navpart .btn:hover {
    background-color: rgb(41, 39, 39);
    color:white;
}